.header {
    grid-area: h;
    background-color: green;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header img {
    width: 40px;
    margin: 10px;

}
.loginBlock {
    line-height: 100px;
}
.loginBlock a {
    color: white;
}

